doctype html
html(lang="en")
  head
    link(href="/public/css/bootstrap.css", rel="stylesheet")
    link(href="/public/css/main.css", rel="stylesheet")
    title=roomId
  body
    .container.main-container
      .row.row1
        .col-md-4
          button.btn play
        .col-md-8
          .input-group
            span(class="input-group-addon glyphicon glyphicon-search magnify")
            input(type="text" placeholder="Enter Keywords") 
      .row
        .col-md-16
          ul
              each val in songs
                  li.well    
                    .container-fluid
                      .col-md-4= val.name
                      .col-md-4= val.artists[0].name
                      .col-md-3= val.album.name 
                      .col-md-1= val.duration_ms 
