doctype html
html(lang="en")
  head
    link(href="/public/css/bootstrap.css", rel="stylesheet")
    link(href="/public/css/main.css", rel="stylesheet")
    script(src="/public/js/jquery-2.1.1.min.js")
    script(src="/public/js/handlebars-v2.0.0.js")
    script(src="/public/js/underscore-min.js")
    script(src="/public/js/typeahead.bundle.js")
    script(src="/public/js/backbone-min.js")
    script(src="/public/js/main.js")
    title=roomId
  body.roombody
    .container.main-container
      .row.row1
        .col-md-4
        .col-md-8
          .input-group
            span(class="input-group-addon glyphicon glyphicon-search magnify")
            input.search.typeahead(type="text" placeholder="Enter Keywords") 
      .row
        .col-md-12
          ul
              each val in songs
                  li.well    
                    .container-fluid
                      .col-md-4= val.name
                      .col-md-4= val.artists[0].name
                      .col-md-3= val.album.name 
                      .col-md-1= val.duration_ms 
script.
  $(document).on('click', '.item', function() {
    $('.search').val("");
    var songId = $(this).attr('data-id');
    var pathname = window.location.pathname;
    var roomname = pathname.substring(6);
    $.get('/ajax/queue', {
        'songId':songId,
        'queueId':roomname
       }, function(data) {
            location.reload(true);
          });
       });
